!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title lolPix
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/site.webmanifest", :rel => "manifest"}
    %link{:color => "#ffbb44", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "lolPix", :name => "apple-mobile-web-app-title"}
    %meta{:content => "lolPix", :name => "application-name"}
    %meta{:content => "#2196f3", :name => "msapplication-TileColor"}
    %meta{:content => "#2196f3", :name => "theme-color"}
  %body
    %noscript
      = I18n.t('error.javascript_required')
    #overlay
    #modal-overlay
    #app{{"data-ssruser": @user.as_json}}
      = react_component('ssr/feeds/ServerSideNewPage', {account: @user, url: request.url, posts: get_posts_new}, {prerender: true})
  = yield
