!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Admin Area - lolPix
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/site.webmanifest", :rel => "manifest"}
    %link{:color => "#ffbb44", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}
    %meta{:content => "lolPix", :name => "apple-mobile-web-app-title"}
    %meta{:content => "lolPix", :name => "application-name"}
    %meta{:content => "#2196f3", :name => "msapplication-TileColor"}
    %meta{:content => "#2196f3", :name => "theme-color"}
  %body
    %noscript
      = I18n.t('error.javascript_required')
    #app
      .wrapper
        #navbar
          %div
            .logo
              = image_tag('logo.svg', {alt: I18n.t('nav.alt_logo')})
            %ul.nav-menu
              %li
                %a{href: '/admin'}
                  = I18n.t('ui.nav.admin.home')
              %li
                %a.active{href: '/admin/reports'}
                  = I18n.t('ui.nav.admin.reports')
          .account-menu
            .top.admin
              - if @user.image.attached?
                = image_tag(url_for(@user.image), {alt: "#{I18n.t('nav.alt_profile_picture_for')} #{@user.username}"})
              - else
                = image_tag('logo_grey.svg', {alt: I18n.t('error.no_image_found')})
              %span
                = @user.username
        .content
          %h1
            = I18n.t('admin.heading.main')
          .report
            %strong
              = "#{I18n.t('ui.report.list.heading')} #{find_user_for_report(@report).username}"
            %p
              = "\"#{@report.description}\""
            %ul
              %li
                %a{href: "/post/#{find_post_for_report(@report).id}"}
                  = I18n.t('ui.report.go-to-post')
      #footer
        %p
          = "© 2020 lolPix"
        %p.secondary
          = "logged in as #{@user.username}"
          %a{href: '/'}
            = I18n.t('ui.footer.main-page')
    = yield
