!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title lolPix
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  %body
    %noscript
      = I18n.t('error.javascript_required')
    #overlay
    #modal-overlay
    #app{{"data-ssruser": @user.as_json, "data-ssrpost": get_post.as_json}}
      = react_component('ssr/ServerSidePostPage', {account: @user, url: request.url, post: get_post}, {prerender: true})
  = yield
